
:root{
    --color-light:  #29e52d;
    --color-dark:    #d82228;
    --color-neitral: #ffff00;

    --color-shadow-light:   rgba(41, 229, 45, .4);
    --color-shadow-dark:    rgba(216, 34, 40, .4);
    --color-shadow-neitral: rgba(224, 224, 81, 0.4);
}
