.people__list{
    display: flex;
    flex-wrap: wrap;   
    list-style:none;
    margin: 0;
    padding: 0;
}

.people__item{
    margin:var(--spacing-medium);
    width: 190px;
    background-color: var(--color-white);
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

.people__item a{
    cursor: pointer;
    color:var(--color-black);
    display: block;
    
}

.people__img{
    width: 100%;
    display: block;
    height: 260px;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.people__name{
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-bold)
}

