:root{
    --color-white:#fff;
    --color-black:#000;
    --color-lightgray: #dfe2df;
    --color-gray:#9c9c9c;
    --font-size-small:14px;
    --font-bold:600;
    --transition:.4s;
    --font-family-main:sans-serif;
    --border-radius-small:3px;
    --border-solid:1px solid transparent;
     --spacing-large:30px;
    --border-radius-medium:5px;

        --font-family-main: sans-serif;
        --font-bold: 600;
        --font-size-medium: 16px;

        --transition: .4s;
}

*, ::after, ::before {
    box-sizing: border-box;
}
img {
    display: block;
}
.Button_ui__button__3Cujj{
    min-width: 100px;
    padding: 10px;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-small);
    font-family: var(--font-family-main);
    font-weight: var(--font-bold);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all var(--transition); 
    color: var(--color-white); 
    /* color: var(--color-black); */
    border: var(--border-solid);
}

.Button_ui__button__3Cujj:disabled,.Button_ui__button__3Cujj:disabled:hover{
    color: var(--color-gray);
    border-color: var(--color-gray);
    background-color: transparent;
    cursor: auto; 

}

.Button_dark__1eji5{
    border: 1px solid var(--color-white);
    color:var(--color-white)
}
.Button_light__29dMG{
    border: 1px solid var(--color-black);
    color:var(--color-black)
}

.Button_dark__1eji5:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

.Button_light__29dMG:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}



:root{
     --border-radius: 3px;
    --border: 3px;
    --clear-width: 35px;

}
.Input_wrapper__3syxv{
    margin-bottom: 38px;   
      position: relative;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
}



.Input_input__3kUJ6{
    min-width: 500px;
    padding: 15px 15px;
    padding-right:40px;
    border: 3px solid var(--color-lightgray);
    border-radius: var(--border-radius-medium);
    outline: none;
    font-size: var(--font-size-header);
    font-family: var(--font-famaly-main); 
    background-color: rgba(214, 57, 22, 0.7); 
    color: var(--color-white);

}
.Input_clear__1T2eR{
    position: absolute;
    display: block;
    top: 12px;
    right: 4px;
    width: 35px;
    height: 35px;    
    object-position: center center;
    fill:var(--color-white);
    object-fit: contain;
    transition: all .5s;
    opacity: .4 ;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    transition: opacity var(--transition);
}

.Input_input__3kUJ6:focus{
  border-color: var(--color-blue);
}

.Input_clear__disabled__t7RiT{
    opacity: .2;
}
.Loading_loader__2hpvI{
    width: 120px;
    height: 120px;
}

.Loading_shadow__37WDD{
 -webkit-filter: drop-shadow(0 0 15px #000);
         filter: drop-shadow(0 0 15px #000);
}
.Video_wrapper__1wV4e{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-large);
}

.Video_video__1dYDR{
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-white);
}

/*# sourceMappingURL=main.b357c2a8.chunk.css.map*/