
.people__list{
    display: flex;
    flex-wrap: wrap;
    /* column-count: 5; */
    margin:var(--spacing-medium) 0;

}

.people__item{
    width: 250px;
   margin: 10px 20px;
}

.people__item a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
   display: inline-flex;
}

.img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-small);
}

.comment{
    color: var(--color-white);
}

 .name{
     display: flex;
     align-items: center;
     padding: 0 var(--spacing-small);
     color: var(--color-white);
     text-shadow: var(--text-shadow-blue);

}