.header{
 display: flex;
 align-items: center;
 justify-content: space-around;
 margin-bottom: var(--spacing-large);
 padding: 40px 15px;
 /* background-color: rgba(0, 0, 0, .7); */
 /* position: fixed;
 top: 0;
 left: 0;
 width: 100%; */
 /* border-bottom: 2px solid var(--color-white); */
}
.header__list{
 display: flex;
 flex-wrap: wrap;
 list-style: none;    
}
.header__item a{
    display: block;
    color: var(--color-white);
    text-decoration: none;
    padding: 7px 10px;
    min-width: 70px;
    cursor: pointer;
    font-size: var(--font-size-main);
    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
    font-weight: var(--font-bold);
    text-shadow: var(--text-shadow-yellow);
    transition:all var(--transition);
    text-align: center;
}
.header__item :global(a.active){
    border: 2px solid var(--color-violet);
    color: var(--color-violet);
    text-shadow: none;
}
.header__container{
    display: flex;
    align-items: center;
}
.header__box{
    display: flex;
    align-items: center;
   
}

.logo{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: var(--spacing-large);
    object-fit: cover;
    object-position: center center;
}

.signout__btn{
    display: block;
  margin-right: 40px;
    color: var(--color-white);
    text-decoration: none;
    padding: 7px 10px;
    min-width: 70px;
    cursor: pointer;
    font-size: var(--font-size-main);
    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
    font-weight: var(--font-bold);
    text-shadow: var(--text-shadow-yellow);
    transition:all var(--transition);
    text-align: center;
    transition: all var(--transition);
    background-color: transparent;
    
}

.signout__btn:hover{
    border: 2px solid var(--color-violet);
    color: var(--color-violet);
    text-shadow: none;
}
.header__img{
    display: block;
    width: 200px;
    height: 70px;
  
}