.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-large);
}

.video{
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-white);
}