:root{
    --color-white:#fff;
    --color-black:#000;
    --color-lightgray: #dfe2df;
    --color-gray:#9c9c9c;
    --font-size-small:14px;
    --font-bold:600;
    --transition:.4s;
    --font-family-main:sans-serif;
    --border-radius-small:3px;
    --border-solid:1px solid transparent;
     --spacing-large:30px;
    --border-radius-medium:5px;

        --font-family-main: sans-serif;
        --font-bold: 600;
        --font-size-medium: 16px;

        --transition: .4s;
}

*, ::after, ::before {
    box-sizing: border-box;
}
img {
    display: block;
}